body{
    font-size: 25px;
    background-image: url("../images/outerspace_landscape.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

nav {
  position: fixed;
  background-color: aqua;
  width: 100%;
  height: 15%;
  padding: 0px 60px;
  margin: 0;
}

.logo {
  height: 100px;
  vertical-align: middle;
  border-radius: 50%;
  margin: 10px;
  border: 1px solid black;
}

ul{
  display: inline;
  list-style: none;
}

	li{
  display: inline;
  /* cursor: pointer;*/
  border-right: 2px solid black;
  padding: 10px;
  margin-left: -5px;
}

a {
  text-decoration: none;
}

.box {
	border: 10px green dotted;
	height: 300px;
	width: 600px;
	margin: auto;
	position: relative;
	bottom: 50%;
}

.cat {

}